* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 1320px;
    margin: auto;
    /* border: 1px solid black; */
}
.conatiner1{
    width: 100%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}
.d-flex1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.box {
    width: 100%;
    height: 100%;
    /* padding: 10px; */
}

.border {
    border: 1px solid red;
}


/* -----------------------fonts--------------------------- */

.font16 {
    font-size: 16px;
}

.font14 {
    font-size: 14px;
}

.font24 {
    font-size: 24px;
}

.font30 {
    font-size: 30px;
}
.font28{
    font-size: 28px;
}
.font32{
    font-size: 32px;
}
.font18 {
    font-size: 18px;
}
.font40{
    font-size: 40px;
}

.lh {
    line-height: 1.2;
}

.lh5 {
    line-height: 1.5;
}
.lh50{
    line-height: 50px;
}
.lh28{
    line-height: 28px;
}

.lh8 {
    line-height: 1.8;
}

.fw-7 {
    font-weight: 700;
}

.fw-4 {
    font-weight: 400;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}


/* ------------------------padding---------------------------- */

.p-1 {
    padding: 12px 24px;
}
.p-2{
    padding: 60px 0px;
}
.p-3{
    padding: 14px 28px;
}
.p-4{
    padding: 10px;
}
.p-32{
    padding: 32px;
}


/* -------------------------------MARGIN----------------- */

.ml20 {
    margin-left: 20px;
}

.ml50 {
    margin-left: 50px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-5{
    margin-bottom: 5px;
}
.mt-100{
    margin-top: 100px;
}
/* ------------------------------Width------------------- */

.w-1 {
    width: 100%;
}

.w-2 {
    width: 50%;
}

.w-3 {
    width: 33.33%;
}

.w-4 {
    width: 25%;
}

.w-5 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}
.w-40{
    width: 40%;
}
.w-30-p{
    width: 30px;
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: column;
}

/* ------------------------------------height------------------ */

.h-100 {
    height: 100px;
}
/* ------------------------fluids----------------------------- */

.fluid1 {
    color: rgb(247, 241, 240);
}

.fluid2 {
    color: #C3A6A0;
}

.fluid3 {
    color: #A15C38;
}

.fluid4 {
    color: #262220;
}

.bg1 {
    background-color: #A15C38;
}

.bg2 {
    background-color: #F7F1F0;
}
.bg3{
    background-color: #C3A6A0;
}
 


/* ----------------------------Justify--------------------- */

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.justify1 {
    justify-content: center;
    align-items: center;
}

.justify{
    justify-content: end;
    align-items: end;
}

.space-between {
    justify-content: space-between;
}
.justify2{
    justify-content: end;
    align-items: center;
}
.justify3{
    justify-content: center;
    align-items: start;
}


/* -----------------------------random class-------------- */

.nav a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 25px;
}
.video{
    position: absolute;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.349);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}
.upper{
    position: relative;
    top: 0px;
}
.upside{
    position: relative;
    top: -75px;
    left: 0px;
    /* width: 1320px; */
}
.responsive .slick-next{
    right: 0px !important;
}
.sir{
    top: 30px;
    right: 0px;
    background-color: #A15C38;
    width: 100px;
    z-index: 4;
}
.sir1{
    top: 30px;
    left: -7px;
    background-color: #A15C38;
    width: 100px;
    z-index: 4;
}
.speak{
    top: 42px;
    right: 59px;
    /* border: 1px solid red; */
    width: 47px;
    height: 28px;
    rotate: 36deg;
    z-index: 3;
    background-color: #A15C38;
}
.speak1{
    /* border: 1px solid red; */
    width: 29px;
    height: 28px;
    top: 50px;
    left: 66px;
    rotate: 47deg;
    background-color: #A15C38;
    z-index: 3;
}
.responsive .slick-prev{
     left: 0px !important;
     z-index: 4;
}
.gara {
    font-family: "EB Garamond", serif;
}

.reddit {
    font-family: "Reddit Sans", sans-serif;
}

.border-none {
    border: none;
}
 
.border-radius {
    border-radius: 5px;
}
.border-radius50{
    border-radius: 50%;
}
.border-radius10{
    border-radius: 10px;
}

.box-shadow {
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}
.box-shadow1{
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.08);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
.arrow{
    /* border: 1px solid red; */
    top: 0px;
    left: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 50% 50% 0;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.292);
    transform: scale(0,1);
    overflow: hidden;
    width: 30px;
    height: 100%;
}
.button:hover .arrow{
    transform: scale(1,1);
}
.z-index{
    z-index: 2;
    position: relative;
}
.box-shadow1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* .button::before {
    content: "\f054";
    font-family: "Font Awesome 6 Pro";
    width: 30px;
    height: 100%;
    border: 1px solid red;
    border-radius: 0 50% 50% 0;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.432);
    transform: scale(1,1);
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.button:hover ::before{
    transform: scale(1,1);
} */
 


/* ------------------------------Hover------------------------- */

.button {
    transition: all 0.2s linear 0s;
}

.button:hover {
    /* letter-spacing: 5px; */
}

.space {
    transition: 0.3s;
}

.space:hover {
    letter-spacing: 5px;
    border-bottom: 5px solid #A15C38;
}